* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-container {
  display: flex;
}
.navbar {
  position: absolute;
  margin-top: 7rem;
  padding: 1rem;
}
.bi-caret-down {
  margin-left: 7rem;
}
.navbar-toggler {
  transition: all 0.3s ease-in-out;
}

.navbar-toggler:hover {
  background-color: #1e477d;
  color: white;
}
.navbar-toggler:focus {
  background-color: #1e477d;
  color: white;
}
.nav-item {
  width: 60%;
}
.header-container {
  position: relative;
}
.nav-item:hover {
  background-color: #E4E0E1;
  color: white;
}
.vertical-line {
  position: absolute;
  left: 15%; /* Adjust this value to position the line correctly */
  top: 0;
  bottom: 0;
  width: 0.1rem; 
  background-color: #000; 
}